@page
@model Dziennik_BSK.Pages.Participations.DeleteModel

@{
    ViewData["Title"] = "Obecnoœæ - Usuñ";
}

<h2>Usuñ</h2>

<h3>Na pewno chcesz usun¹æ tê nieobecnoœæ</h3>
<div>
    <h4>Participation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imiê i nazwisko ucznia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participation.Lesson.LessonDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participation.Lesson.LessonDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participation.Lesson.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participation.Lesson.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participation.IsPresent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participation.IsPresent)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Participation.Id" />
        <input type="submit" value="Usuñ" class="btn btn-default" /> |
        <a asp-page="./Index">Powrót do listy</a>
    </form>
</div>
