@page "{id:int}"
@model Dziennik_BSK.Pages.Participations.DetailsModel

@{
    ViewData["Title"] = "Obecnoœæ - Szczegó³y";
}

<h2>Szczegó³y</h2>

<div>
    <h4>Obecnoœæ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Participation.Student.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participation.Student.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participation.Lesson.LessonDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participation.Lesson.LessonDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participation.Lesson.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participation.Lesson.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Participation.IsPresent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Participation.IsPresent)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Role == Roles.Admin || Model.Role == Roles.Teacher)
    {
    <a asp-page="./Edit" asp-route-id="@Model.Participation.Id">Edytuj</a> <br />
    }
    <a asp-page="./Index">Powrót do listy</a>
</div>
