@page
@model Dziennik_BSK.Pages.Participations.IndexModel

@{
    ViewData["Title"] = "Obecnoœci";
}

<h2>Obscnoœci</h2>

<p>
    @if (Model.Role == Roles.Admin || Model.Role == Roles.Teacher)
    {
    <a asp-page="Create">Dodaj now¹</a>
    }
</p>

<form asp-page="./Index" method="get">
    <div class="form-action-no-color">
        <p>
            Nieobecny:
            <select name="searchPresent" asp-for="@Model.CurrentFilterIsPresent">
                <option></option>
                <option>Tak</option>
                <option>Nie</option>
            </select>
            <input type="submit" value="Szukaj" /><br/>
            <a asp-page="./Index">Resetuj filtr</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-searchPresent="@Model.CurrentFilterIsPresent">
                    @Html.DisplayNameFor(model => model.Participation[0].Lesson.LessonDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participation[0].Lesson.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participation[0].IsPresent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Participation)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.LessonDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPresent)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Szczegó³y</a> <br />
                    @if (Model.Role == Roles.Teacher || Model.Role == Roles.Admin)
                    {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a> <br />
                    }
                    @if (Model.Role == Roles.Admin)
                    {
                    <a asp-page="./Delete" asp-route-id="@item.Id">Usuñ</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = Model.Participation.HasPreviousPage ? "" : "disabled";
    var nextDisabled = Model.Participation.HasNextPage ? "" : "disabled";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-searchPresent="@Model.CurrentFilterIsPresent"
   asp-route-pageIndex="@(Model.Participation.PageIndex - 1)"
   class="btn btn-default @prevDisabled">Poprzednia</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-searchPresent="@Model.CurrentFilterIsPresent"
   asp-route-pageIndex="@(Model.Participation.PageIndex + 1)"
   class="btn btn-default @nextDisabled">Nastêpna</a>
