@page
@model Dziennik_BSK.Pages_Lessons.IndexModel

@{
    ViewData["Title"] = "Lekcje";
}

<h2>Lekcje</h2>

<p>
    <a asp-page="Create">Dodaj now¹</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson[0].LessonDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson[0].Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson[0].Topic)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lesson) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Szczegó³y</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Usuñ</a>
            </td>
        </tr>
}
    </tbody>
</table>
