@page
@model Dziennik_BSK.Pages_Students.IndexModel

@{
    ViewData["Title"] = "Uczniowie";
}

<h2>Uczniowie</h2>

<p>
    <a asp-page="Create">Dodaj ucznia</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].SecendName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].Class)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecendName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a> <br/>
                <a asp-page="./Details" asp-route-id="@item.Id">Szczegóły</a> <br/>
                <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
