@page
@model Dziennik_BSK.Pages_Teachers.IndexModel

@{
    ViewData["Title"] = "Nauczyciele";
}

<h2>Nauczyciele</h2>

<p>
    <a asp-page="Create">Dodaj nowego</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher[0].PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher[0].Email)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teacher) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a> <br/>
                <a asp-page="./Details" asp-route-id="@item.Id">Szczegó³y</a> <br/>
                <a asp-page="./Delete" asp-route-id="@item.Id">Usuñ</a>
            </td>
        </tr>
}
    </tbody>
</table>
